<div class="container">
  <div>
    <img id="first" src="assets/new.jpg" style="width: 100%;">
  </div>

  <div style="background-color: whitesmoke;" class="row mb-4 text-center">
    <div class="mt-100 col-md-6 row pt-5 offset-md-3 offset-1">
    <div class="col-md-3 shadow col-12 ">
     <h2 class="font-italic">Ahmed</h2>
     <p>Developer</p>
   </div>
   <div class="col-md-3 col-12 shadow ">
    <h2 class="font-italic">Rahaf</h2>
    <p> Developer</p>
  </div>
  <div class="col-md-3 col-12 shadow ">
    <h2 class="font-italic">Esraa</h2>
    <p> Developer</p>
  </div>
</div>
</div>
