<div class="row" id="parent">
    <div class="col-md-6 col-12" id="login">
        <div id="trans">
            <h1>ERA</h1>
            <p>
                Fashion Collection <br> 2019 (wonen - men -kids)
            </p>
        </div>
    </div>
    <div class="col-md-6 col-12"> 
        <div class=" text-center  pt-5">
            <p class="h4 mb-4 text-center" id="title"> Register </p>
        </div>
        <!--  form  -->
        <div class="" id="loginUp">

            <div id="photo"></div>
            <div class="input-group w-75 m-auto">
               
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Image</label>
                </div>
              </div>
            <!-- Name -->
            <input type="text" class="form-control  w-75 " placeholder="user Name*">
            <!-- Email -->
            <input type="email" class="form-control  w-75 " placeholder="Email*">

            <!-- pass -->
            <input type="password" class="form-control  w-75 " placeholder="password*" min="0">

            <!-- gender -->
                <select class="browser-default custom-select w-75 mb-4">
                    <option value="0">male</option>
                    <option value="1">female</option>

                </select>
          

            <!-- Send button -->
            <button class="btn btn-info btn-block m-auto w-75">Login</button>

            <a href="#" class=" mt-2">Create account</a>
        </div>
    </div>

    <div>

     