<div class="row bg-white mb-3 p-0 pt-2 border border-gray rounded">

    <!-- Header & Body -->
    <div class="col-12 col-lg-8">
        <!-- Header (Name,Date,State) -->
        <div class="mb-2">

            <div class="h6 m-0">AhmedOsama</div>
            <div class="pl-2 text-muted small font-italic">12 April 2020, 11:11:11</div>
            <!-- <span class="h3 position-absolute text-success" style="top: 25px; right: 2rem;">&#10004;</span>
            <span class="h3 position-absolute text-danger" style="top: 15px; right: 2rem;">&#10008;</span>
            <span class="h3 position-absolute text-dark" style="top: 5px; right: 2rem;">⏱ 🕑 </span> -->


            <!-- Pending Icon -->
            <svg class="bi bi-dash-circle text-secondary position-absolute" style="top: 0.3rem; right: 2rem;"
                width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z"
                    clip-rule="evenodd" />
            </svg>

        </div>

        <!-- Body (ItemsList) -->
        <div class="mb-2">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Product 1 Title
                    <span class="border badge-pill">14 [30]</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Product 2 Title
                    <span class="badge badge-light badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Product 3 Title
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Footer (ActionButtons,TotalPrice) -->
    <div class="col-12 col-lg-4 p-0 p-lg-3 mb-2">
        <div class="col-12 mb-2 d-flex justify-content-between align-items-center">
            <div class="h6 mb-0 d-inline-block">Total Price:</div>
            <div class="h6 mb-0 d-inline-block">1452.00 LE</div>
        </div>

        <div class="col-12">
            <button type="button" class="col-6 col-lg-12 mb-lg-3 btn btn-success">Accept</button>
            <button type="button" class="col-6 col-lg-12 btn btn-danger">Reject</button>
        </div>
    </div>

</div>