<div  class="container">
  <div >
    <img id="first" src="assets/new.jpg" style="height: 550px;width: 100%;" >
  </div>

  <div style="background-color: whitesmoke;" class="row mb-4" >
      <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="assets/men.jpg" class="mt-4 category" style="width: 90%;" (click)="ShowCategory(0)">
        <div class="mt-2" style="font-family: comic;font-size: larger;
          font-weight: bold;margin-left:40%;">Men</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/women.jpg" class="mt-4 category" style="width: 90%;" (click)="ShowCategory(1)">
        <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:40%;">Women</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/kids.jpg" class="mt-4 category" style="width: 100%;" (click)="ShowCategory(2)">
        <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:40%;">kids</div>
      </div>
</div>
</div>
