.grad {
    background-image: linear-gradient(to right,black ,darkgrey, grey,black);
  }
  #wrapper {
    width: 100%;
    overflow: hidden; 
}
#first {
    width:60%;
    float:left;
}
#second {
    overflow: hidden; 
}