<div  class="container">
  <!--main pic-->
  <div >
    <img id="first" src="assets/new.jpg" style="height: 550px;width: 100%;" >
  </div>

  <!--categories / new arrivals / sale -->
  <div style="background-color: whitesmoke;" class="row mb-4" >
      <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="assets/men.jpg" class="mt-4 category" style="width: 90%;" (click)="MenCategory(0)">
        <div class="mt-2" style="font-family: comic;font-size: larger;
          font-weight: bold;margin-left:40%;">Men</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/women.jpg" class="mt-4 category" style="width: 90%;" (click)="MenCategory(1)">
        <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:40%;">Women</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/kids.jpg" class="mt-4 category" style="width: 100%;" (click)="KidsCategory(2)">
        <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:40%;">kids</div>
      </div>
      <!-- <div class="col-3 ">
        <img src="assets/newArrivals.jpg" class="mt-4 category" style="width: 90%;">
        <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:30%;">New Arrivals</div>
      </div>
      <div class="col-3 ">
        <img src="assets/Onsale.jpg" class="mt-4 category" style="width: 90%;">
        <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:30%;">Items On Sale</div>
      </div> -->
</div>
</div>
