<body class="container">
  <!--main pic-->
  <div>
    <img id="first" src="assets/new.jpg" style="height: 550px;width: 100%;">
    <div class="container">

      <!--new arrivals carousel-->


      <!--items on sale-->

      <div style="background-color: whitesmoke;" class="row mb-4">
        <div class="col-3">
          <img src="assets/men.jpg" class="mt-4" style="width: 90%;">
          <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:30%;">
            Men</div>
        </div>
        <div class="col-3 ">
          <img src="assets/women.jpg" class="mt-4 " style="width: 90%;">
          <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:30%;">Women</div>
        </div>
        <div class="col-3 ">
          <img src="assets/newArrivals.jpg" class="mt-4 " style="width: 90%;">
          <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:30%;">New Arrivals
          </div>
        </div>
        <div class="col-3 ">
          <img src="assets/Onsale.jpg" class="mt-4 " style="width: 90%;">
          <div class="mt-2" style="font-family: comic;font-size: larger;font-weight: bold;margin-left:30%;">Items On
            Sale
          </div>
        </div>
      </div>
      =
      <!-- Footer -->
      <footer class="page-footer font-small dark bg-light pt-4" style="border-radius:10px ;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
              <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                consectetur
                adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Company</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">About</a>
                </li>
                <li>
                  <a href="#!">Contact Us</a>
                </li>
                <li>
                  <a href="#!">Careers</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Categories</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Men</a>
                </li>
                <li>
                  <a href="#!">Women</a>
                </li>
                <li>
                  <a href="#!">Kids</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>

        </ul>


      </footer>
    </div>
  </div>
</body>