<div class="card" *ngIf="!prd.isDeleted">
  <div *ngIf="prd.image.length==0 else otherBlock">
    <img src="assets/def.jpg" class="card-img-top" style="height:300px; object-fit: contain;" alt="productImage">
  </div>
  <ng-template #otherBlock>
    <img [src]="urlServer+prd.image[0].imagePath" class="card-img-top" style="height:300px; object-fit: contain;"
      alt="productImage">
  </ng-template>
  <div class="card-body">
    <h5 class="card-title">{{prd.productName}}</h5>
    <p class="card-text text-muted" *ngIf="prd.description !='' ; else elseBlock"> {{prd.description}}</p>
    <ng-template #elseBlock>
      <p>No description</p>
    </ng-template>
  </div>
  <div class="card-footer" style="text-align: center;">
    <div *ngIf="admin; else falseBlock">
      <button class="btn btn-info col-4 mr-3 ml-1" (click)="GoToEdit(prd.productID)"> Edit </button>
      <button class="btn btn-danger col-4 " (click)="openConfirmationDialog(prd.productID)">Delete</button> <br> <br>
    </div>
    <ng-template #falseBlock>
      <div *ngIf='isLoggedIn'>

        <div *ngIf='inStock'>
          <button class="btn btn-primary mb-2" *ngIf="!isAdded else addedBlock" (click)="toCart(prd.productID)">Add to
            cart</button>
          <ng-template #addedBlock>
            <button class="btn btn-primary mb-2" disabled>In Cart</button>
          </ng-template>
        </div>
        <div *ngIf='!inStock'>
          <button class="btn btn-primary mb-2" disabled>Out of Stock</button>
        </div>
      </div>
    </ng-template>
    <table class="table">
      <tr>
        <th scope="col">Price</th>
        <td scope="col">{{prd.unitPrice}}</td>
      </tr>
      <tr *ngIf='admin'>
        <th scope="row">Quantity</th>
        <td>{{prd.unitsInStock}}</td>
      </tr>
      <tr>
        <th scope="row">Discount</th>
        <td>{{prd.discount*100}} %</td>
      </tr>
    </table>
  </div>

</div>