 <div class="card">
        <img src="assets/def.jpg" class="card-img-top" alt="productImage">
        <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="card-text">detailsProduct detailsProduct details description</p>
        </div>
        <div class="card-footer" style="text-align: center;" >
            <button class="btn btn-info col-4 mr-3 ml-1"> Edit </button>
            <button class="btn btn-danger col-4 ">Delete</button> <br> <br>
            <table class="table">
                  <tr>
                    <th scope="col">Price</th>
                    <td scope="col">1000</td>
                  </tr>
                  <tr>
                    <th scope="row">Qnty</th>
                    <td>100</td>
                  </tr>
            </table>
        </div>
</div>



