<!-- <div class="container-fluid">
<div >
 <app-edit-product class="row"></app-edit-product>
</div>
</div>
<div class="h1">This is App Component</div>
<app-order-list></app-order-list> -->
<ul><li>
    <a routerLink="index">home</a>
</li><li>
    <a routerLink="login">login</a>
</li><li>
    <a routerLink="register">register</a>
</li><li>
    <a routerLink="about">about</a>
</li><li>
    <a routerLink="profile/123">profile</a>
</li>
<li>
    <a routerLink="cart/123">cart</a>
</li>
<li>
    <a routerLink="admin/products">products</a>
</li><li>
    <a routerLink="admin/orders">orders</a>
</li>
</ul>
<router-outlet></router-outlet>