<ul ngbNav #nav="ngbNav" class="nav-tabs dark shadow" style="height: 50px;background-color: whitesmoke;">
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="index">Home</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="admin/products/10">Products</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="register">Register</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="login">login</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="about">about</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="profile/123">profile</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="cart/123">cart</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="admin/orders">orders</a>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>