<ul ngbNav #nav="ngbNav" class="nav-tabs dark shadow" style="height: 50px;background-color: whitesmoke;">
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="index">Home</a>
  </li>
  <li ngbNavItem class="navChild">
    <a ngbNavLink routerLink="admin/products/10">Products</a>
  </li>
  <li *ngIf="isLoggedIn && !isAdmin" ngbNavItem class="navChild">
    <a ngbNavLink routerLink="profile">Profile</a>
  </li>
  <li *ngIf="isLoggedIn && !isAdmin" ngbNavItem class="navChild">
    <a ngbNavLink routerLink="cart">Cart</a>
  </li>
  <li *ngIf="isLoggedIn && isAdmin" ngbNavItem class="navChild">
    <a ngbNavLink routerLink="admin/orders">Orders</a>
  </li>
  <li *ngIf="!isLoggedIn" ngbNavItem class="navChild">
    <a ngbNavLink routerLink="register">Register</a>
  </li>
  <li *ngIf="!isLoggedIn" ngbNavItem class="navChild">
    <a ngbNavLink routerLink="login">Login</a>
  </li>
  <li *ngIf="isLoggedIn" ngbNavItem class="navChild">
    <a ngbNavLink (click)='logout()'>Logout</a>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>