<div class="container">
    <div class="row">
        <app-product class="col-md-6 col-lg-4 col-sm-12 mt-3" *ngFor="let prd in products"></app-product>
        <!--<app-product class="col-md-6 col-lg-4 col-sm-12 mt-3"></app-product>
        <app-product class="col-md-6 col-lg-4 col-sm-12 mt-3"></app-product>
        <app-product class="col-md-6 col-lg-4 col-sm-12 mt-3"></app-product>
        <app-product class="col-md-6 col-lg-4 col-sm-12 mt-3"></app-product>
        <app-product class="col-md-6 col-lg-4 col-sm-12 mt-3"></app-product> -->
    </div>
</div>