<div class="row" id="parent">
    <div class="col-md-7 col-12" id="login">
        <div id="trans">
            <h1>ERA</h1>
            <p>
                Fashion Collection <br> 2019 (wonen - men -kids)
            </p>
        </div>
    </div>
    <div class="col-md-5 col-12">
        <div class=" text-center mt-5 pt-5">
           
            <img src="assets/Logo.png" id="logo">
            <p class="h4 mb-4 text-center" id="title"> Login </p>
        </div>
        <!--  form  -->
        <div class="" id="loginUp">
            <!-- Name -->
            <input type="email"  class="form-control  w-75 " placeholder="Email*">

            <!-- Email -->
            <input type="password"  class="form-control  w-75 " placeholder="password*" min="0">

            <!-- Send button -->
            <button class="btn btn-info btn-block m-auto w-75">Login</button>
            
            <a href="#" class=" mt-2">Create account</a>
        </div>
    </div>

    <div>