<div class="container">
    <div class="row">
        <!-- <div class="col-12 mt-5 mb-5">
            <h1 id="User">User Name</h1>
        </div> -->

        <!-- <div class="d-flex bg-white col-12 p-3">

            <ul ngbNav #nav="ngbNav" [(activeId)]="active" 
            class="nav-pills pr-3 border-right" orientation="vertical">
                <li ngbNavItem="profile">
                    <a ngbNavLink>Profile</a>
                    <ng-template ngbNavContent>
                    </ng-template>
                </li>
                <li ngbNavItem="orders">
                    <a ngbNavLink class="col-12">Orders</a>
                    <ng-template ngbNavContent>
                        <app-order-list></app-order-list>
                    </ng-template>
                </li>
                <li ngbNavItem="bottom">
                    <a ngbNavLink>Bottom</a>
                    <ng-template ngbNavContent>

                    </ng-template> 
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="ml-4 w-100"></div> 

        </div> -->
        <div class="col-9 col-lg-7 mt-3">
            <app-order-list></app-order-list>
        </div>
        <div class="col-6 col-lg-4 offset-3 offset-md-0 mt-3" id="info">
            <app-user-info></app-user-info>
        </div>

    </div>
</div>