<div class="col-8 offset-2">
<!--  form  -->
<form class="text-center p-5" action="#!">

    <p class="h4 mb-4" id="title"> Create New Product</p>

    <!-- Name -->
    <input type="text" id="ProductTitle" class="form-control mb-4" placeholder="Product title">

    <!-- Price -->
    <input type="number" id="Price" class="form-control mb-4" placeholder="Price" min="1">

    <!-- Subject -->
    <label>Catagory</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Male</option>
        <option value="2">female</option>
 
    </select>


    <!--image-->
    <div class="custom-file mb-4 ">
      <input type="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="Details" rows="3" placeholder="Description"></textarea>
    </div>


    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit" id="Create">Create</button>

</form>
</div>